In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
#Task 1: Read the dataset and do data pre-processing
from google.colab import drive
drive.mount('/content/drive')
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/drug200.csv')

Mounted at /content/drive

In [ ]:
df.head()  # Visualizing the data

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
# Checking for null values

df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
df['Drug'].unique()  # Finding unique category

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [ ]:
df['Drug'].value_counts()  # Finding the count of observations based on unique value

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

def label_encoder(y):
    le = LabelEncoder()
    df[y] = le.fit_transform(df[y])

In [ ]:
label_list = ["Sex","BP","Cholesterol","Na_to_K","Drug"]

for l in label_list:
    label_encoder(l)

In [ ]:
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0      167     0
1   47    1   1            0       89     3
2   47    1   1            0       43     3
3   28    0   2            0       10     4
4   61    0   1            0      133     0

In [ ]:

# Splitting the data

x = df.iloc[:,0:5]
x

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   0            0      167
1     47    1   1            0       89
2     47    1   1            0       43
3     28    0   2            0       10
4     61    0   1            0      133
..   ...  ...  ..          ...      ...
195   56    0   1            0       69
196   16    1   1            0       75
197   52    1   2            0       36
198   23    1   2            1      102
199   40    0   1            1       66

[200 rows x 5 columns]

In [ ]:

y = df.iloc[:,5:]
y

     Drug
0       0
1       3
2       3
3       4
4       0
..    ...
195     3
196     3
197     4
198     4
199     4

[200 rows x 1 columns]

In [ ]:
# Splitting the data into train and test
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=20)

In [ ]:

le = LabelEncoder()
ytrain = le.fit_transform(ytrain)
ytest = le.transform(ytest)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [ ]:
ytrain

array([4, 4, 0, 0, 4, 0, 1, 0, 4, 0, 0, 4, 4, 4, 0, 3, 3, 2, 3, 2, 0, 0,
       0, 0, 4, 0, 0, 1, 0, 0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 4, 0, 4, 0, 4,
       0, 4, 1, 4, 2, 0, 4, 0, 3, 0, 0, 0, 2, 0, 4, 1, 2, 2, 4, 0, 0, 4,
       4, 3, 2, 0, 4, 2, 2, 1, 1, 0, 0, 0, 0, 4, 0, 4, 0, 0, 4, 0, 0, 4,
       0, 1, 4, 0, 0, 0, 0, 0, 1, 4, 2, 0, 4, 3, 4, 4, 0, 0, 4, 0, 2, 3,
       2, 2, 1, 0, 0, 0, 0, 4, 0, 1, 0, 0, 0, 4, 4, 4, 2, 4, 4, 4, 3, 0,
       4, 3, 4, 1, 1, 1, 0, 0, 0, 0, 0, 3, 1, 4, 1, 4, 0, 0, 1, 4, 0, 0,
       0, 4, 1, 1, 0, 0])

In [ ]:
#Task 2: Build the ANN model with (input layer, min 3 hidden layers & output layer)
# ANN Model
# Build an ANN model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


model = Sequential()
model.add(Dense(5,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(5,activation='softmax'))

In [ ]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(tf.convert_to_tensor(xtrain),tf.convert_to_tensor(ytrain),epochs=10,batch_size=5,validation_data=(tf.convert_to_tensor(xtest),tf.convert_to_tensor(ytest)))

Epoch 1/10
32/32 [==============================] - 2s 22ms/step - loss: 2.3218 - accuracy: 0.3562 - val_loss: 1.2894 - val_accuracy: 0.4500
Epoch 2/10
32/32 [==============================] - 0s 3ms/step - loss: 1.0811 - accuracy: 0.5437 - val_loss: 1.1798 - val_accuracy: 0.5000
Epoch 3/10
32/32 [==============================] - 0s 3ms/step - loss: 1.0530 - accuracy: 0.5750 - val_loss: 1.2227 - val_accuracy: 0.5000
Epoch 4/10
32/32 [==============================] - 0s 4ms/step - loss: 0.9981 - accuracy: 0.6187 - val_loss: 1.2078 - val_accuracy: 0.5000
Epoch 5/10
32/32 [==============================] - 0s 4ms/step - loss: 0.9765 - accuracy: 0.6000 - val_loss: 1.1744 - val_accuracy: 0.5000
Epoch 6/10
32/32 [==============================] - 0s 3ms/step - loss: 0.9491 - accuracy: 0.6062 - val_loss: 1.1965 - val_accuracy: 0.5000
Epoch 7/10
32/32 [==============================] - 0s 3ms/step - loss: 0.9510 - accuracy: 0.6250 - val_loss: 1.2024 - val_accuracy: 0.5000
Epoch 8/10
32/32 [==============================] - 0s 4ms/step - loss: 0.9374 - accuracy: 0.6313 - val_loss: 1.1741 - val_accuracy: 0.5000
Epoch 9/10
32/32 [==============================] - 0s 4ms/step - loss: 0.9094 - accuracy: 0.6187 - val_loss: 1.1679 - val_accuracy: 0.5250
Epoch 10/10
32/32 [==============================] - 0s 4ms/step - loss: 0.9191 - accuracy: 0.6250 - val_loss: 1.2436 - val_accuracy: 0.6750

In [ ]:
#Task 3: Test the model with random data
ypred = model.predict([[25,1,1,0,90]])
print(ypred)
ypred = np.argmax(ypred)
output = ['drugA', 'drugB', 'drugC', 'drugX', 'DrugY']
output[ypred]

1/1 [==============================] - 0s 61ms/step
[[0.33019802 0.11236803 0.06146656 0.10032262 0.39564475]]

'DrugY'