In [ ]:
#Task - 1
import numpy as np
import pandas as pd

np.random.seed(42)
data = np.random.rand(4, 4)

columns = ['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4']
idx = ['Observation 1', 'Observation 2', 'Observation 3', 'Observation 4']
df = pd.DataFrame(data, columns=columns, index=idx)
print(df)

               Feature 1  Feature 2  Feature 3  Feature 4
Observation 1   0.374540   0.950714   0.731994   0.598658
Observation 2   0.156019   0.155995   0.058084   0.866176
Observation 3   0.601115   0.708073   0.020584   0.969910
Observation 4   0.832443   0.212339   0.181825   0.183405

In [ ]:
#Task - 2
columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df = pd.DataFrame(data, columns=columns, index=idx)
print(df)

               Random value 1  Random value 2  Random value 3  Random value 4
Observation 1        0.374540        0.950714        0.731994        0.598658
Observation 2        0.156019        0.155995        0.058084        0.866176
Observation 3        0.601115        0.708073        0.020584        0.969910
Observation 4        0.832443        0.212339        0.181825        0.183405

In [ ]:
#Task - 3
print(df.describe())

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910

In [ ]:
#Task - 4
import numpy as np
import pandas as pd

num_nulls = 2

random_rows = np.random.choice(df.index, size=num_nulls, replace=False)
random_columns = np.random.choice(df.columns, size=num_nulls, replace=False)

for row, column in zip(random_rows, random_columns):
    df.loc[row, column] = np.nan

null_values = df.isnull().sum()

print("Null Values:")
print(null_values)
data_types = df.dtypes
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    2
Random value 2    2
Random value 3    1
Random value 4    1
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
#Task - 5
import pandas as pd

loc_values = df.loc[:, ['Random value 2', 'Random value 3']]
print("Using loc:\n", loc_values)

index_values = df.iloc[:, [1, 2]]
print("\nUsing index location:\n", index_values)

Using loc:
                Random value 2  Random value 3
Observation 1             NaN        0.731994
Observation 2        0.155995        0.058084
Observation 3        0.708073             NaN
Observation 4             NaN        0.181825

Using index location:
                Random value 2  Random value 3
Observation 1             NaN        0.731994
Observation 2        0.155995        0.058084
Observation 3        0.708073             NaN
Observation 4             NaN        0.181825