In [1]:
import numpy as np
import pandas as pd
random = np.random.randint(1,1000,size=(4,4))
df=pd.DataFrame(random)
df

     0    1    2    3
0  772  707  744  730
1  539  631  116  996
2  542  464  197  927
3  423  416  759  506

In [2]:
df.columns = ['Random_value1', 'Random_value2', 'Random_value3', 'Random_value4']
df

   Random_value1  Random_value2  Random_value3  Random_value4
0            772            707            744            730
1            539            631            116            996
2            542            464            197            927
3            423            416            759            506

In [3]:
df.describe()

       Random_value1  Random_value2  Random_value3  Random_value4
count       4.000000       4.000000       4.000000       4.000000
mean      569.000000     554.500000     454.000000     789.750000
std       146.234971     137.211516     345.165661     220.197449
min       423.000000     416.000000     116.000000     506.000000
25%       510.000000     452.000000     176.750000     674.000000
50%       540.500000     547.500000     470.500000     828.500000
75%       599.500000     650.000000     747.750000     944.250000
max       772.000000     707.000000     759.000000     996.000000

In [4]:
df.isnull().any()

Random_value1    False
Random_value2    False
Random_value3    False
Random_value4    False
dtype: bool

In [5]:
df.dtypes

Random_value1    int64
Random_value2    int64
Random_value3    int64
Random_value4    int64
dtype: object

In [6]:
df.loc[:,['Random_value2','Random_value3']]

   Random_value2  Random_value3
0            707            744
1            631            116
2            464            197
3            416            759

In [7]:
df.iloc[:,[1,2]]

   Random_value2  Random_value3
0            707            744
1            631            116
2            464            197
3            416            759